
<div style="height: 400px">
  <uib-carousel active="vm.active" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
    <uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
      <img style="height: 400px; width: 100%" ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </uib-slide>
  </uib-carousel>
</div>
<div class="home-bannershadow"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Wellcome to</h1>
        <p style="color:#7e8998;">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud </p> <br>
        <i class="fa fa-shopping-bag" style="font-size: 20px; color: #F07057;"></i>
        <i class="fa fa-shopping-bag" style="font-size: 20px; color: #F07057;"></i>
        <i class="fa fa-shopping-bag" style="font-size: 20px; color: #F07057;"></i>
        <i class="fa fa-shopping-bag" style="font-size: 20px; color: #F07057;"></i>
        <i class="fa fa-shopping-bag" style="font-size: 20px; color: #F07057;"></i>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="" ng-repeat="spec_cate in vm.all_special_cate" ng-if="spec_cate.show">
        <h3 style="letter-spacing:0.1em;" class="text-center">{{spec_cate.name | uppercase}}</h3>
        <div class="col-sm-6 col-md-3" ng-repeat="product in spec_cate.products">
          <div class="product-box">
            <figure>
              <div class="overlay">
                <a href="#/products/{{product.ms}}" style="text-decoration: none !important">
                  <div class="inner" style="height:222px; color:white;">
                    <span class="text-center" style="padding: 120px 90px; font-size: 20px; display:block;">
                      <i class="glyphicon glyphicon-plus" ></i><br><strong> Detail</strong>
                    </span>

                  </div>
                </a>

                <div style="display:inline-flex; width: 100%">
                  <button class="btn btn-primary" style="border-right-color: white !important; width: 50%; height: 40px; border-radius: 0px;">
                    MUA NGAY
                  </button>
                  <button class="btn btn-primary" style="width: 50%; height: 40px; border-radius: 0px;">
                    <i class="glyphicon glyphicon-shopping-cart" ></i>
                    ADD TO CART
                  </button>
                </div>

              </div>
              <img ng-src="http://localhost:3000{{product.picture.url}}"class="index-product-img">
            </figure>
            <div style="padding:10px 20px;">
              <h4>{{product.name}}</h4>
              <span style="color:#F07057;" ng-if="!product.sale">{{product.price}} VND</span>
              <div  ng-if="product.sale">
                <span style="color:#F07057;">{{product.sale}} VND</span>
                <span class="oldprice">{{product.price}} VND</span>
              </div>

            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-default" style="width: 40%; margin-top:25px;">Xem them</button>
        </div>

      </div>
    </div>
     <div class="divider"><i class="fa fa-heart" style="font-size: 25px; color: #F07057;"></i>
</div>

    <div class="" ng-repeat="cate in vm.all_cate">
        <h3 style="letter-spacing:0.1em;" class="text-center">{{cate.name | uppercase}}</h3>
        <div class="container">
          <ul class="nav nav-tabs">
            <li ng-repeat="cate_nd in cate.category_nds" ng-class="{active:vm.IsActiveTab(cate, $index)}" ng-click="vm.OnClickTab(cate,cate_nd.link, $index)">
              <a style="color:#2E363F;">{{cate_nd.name}}</a>
            </li>
          </ul>
          <div class="tab-content">

            <div ng-repeat="cate_nd in cate.category_nds" id="{{cate_nd.link}}" ng-show="vm.IsActiveTab(cate, $index)">
              <div class="col-md-12" style="padding-left: 0px">
                <div class="col-sm-6 col-md-3" ng-repeat="product in cate.this_cate_nd.products">
                  <div class="product-box">
                    <figure>
                      <div class="overlay">
                        <a href="#/products/{{product.ms}}" style="text-decoration: none !important">
                          <div class="inner" style="height:222px; color:white;">
                            <span class="text-center" style="padding: 120px 90px; font-size: 20px; display:block;">
                              <i class="glyphicon glyphicon-plus" ></i><br><strong> Detail</strong>
                            </span>

                          </div>
                        </a>

                        <div style="display:inline-flex; width: 100%">
                          <button class="btn btn-primary" style="border-right-color: white !important; width: 50%; height: 40px; border-radius: 0px;">
                            MUA NGAY
                          </button>
                          <button class="btn btn-primary" style="width: 50%; height: 40px; border-radius: 0px;">
                            <i class="glyphicon glyphicon-shopping-cart" ></i>
                            ADD TO CART
                          </button>
                        </div>

                      </div>
                      <img ng-src="http://localhost:3000{{product.picture.url}}"class="index-product-img">
                    </figure>
                    <div style="padding:10px 20px;">
                      <h4>{{product.name}}</h4>
                      <span style="color:#F07057;" ng-if="!product.sale">{{product.price}} VND</span>
                      <div  ng-if="product.sale">
                        <span style="color:#F07057;">{{product.sale}} VND</span>
                        <span class="oldprice">{{product.price}} VND</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-default" style="width: 40%; margin-top:25px;">Xem them</button>
          </div>
          <div class="divider"><i class="fa fa-paw" style="font-size: 25px; color: #F07057;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

