<div class="section">
  <div class="container">
    <div class="row" ng-if="vm.carts.length > 0">
      <h1>Gio hang</h1>
      <div class="col-md-9">
        <div ng-repeat="cart in vm.carts" class="cart-product">
          <div style="vertical-align: middle; display: inline-block;">
            <a href="/products/{{cart.product.ms}}"><img ng-src="http://localhost:3000{{cart.product.picture.url}}"  style="max-height: 150px"></a>
          </div>

          <div style="vertical-align: middle; padding: 5px 15px; display: inline-block;">
             <a href="/products/{{cart.product.ms}}"><h4 style="color: darkorange;">{{cart.product.name}}</h4></a>
            <span style="color:#F07057;" ng-if="!cart.product.sale">{{cart.product.price}} VND</span>
            <div  ng-if="cart.product.sale">
              <span style="color:#F07057;">{{cart.product.sale}} VND</span>
              <span class="oldprice">{{cart.product.price}} VND</span>
            </div>
            <br>

            <div style="display: -webkit-box; margin-bottom: 4px;">
              <h5>So Luong</h5>
              <input type="number" class="form-control" min="1" style="margin-left: 10px;" ng-model="cart.changeNumber" ng-change="vm.ChangeNumberCart(cart)" required>
            </div>
          </div>
        </div>

        <div class="my-paginate text-center" style="display: inline-block; width: 100%" ng-if="vm.total_cart >2">
          <uib-pagination total-items="vm.total_cart" ng-model="vm.currentPage" items-per-page="2" max-size="maxSize" ng-change="vm.PageChanged()" class="pagination-sm text-center" boundary-links="true" rotate="false"></uib-pagination>
        </div>
      </div>

      <div class="col-md-3">
        <h3>THONG TIN</h3>
        <h4>Tong san Pham: {{vm.total_product}}</h4>
        <h4>Price: <span style="color:#F07057;">{{vm.total_price}} VND</span></h4>
        <button class="btn btn-primary" style="width: 80%" ng-click="vm.OpenBuyNow()">DAT TAT CA</button>
      </div>

    </div>
    <div class="row" ng-if="vm.carts.length == 0">
      <h1>Gio hang</h1>
      <h4>Khong co san pham nao</h4>
      <a href="/" class="btn btn-primary"><i class="fa fa-chevron-left"></i>
        Quay lai mua hang</a>
    </div>
  </div>
</div>
